html * {
    padding: 0;
    margin: 0;
    font-family: "Monaco", "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

.clear-fix:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: '';
}

.side {
    width: 300px;
    background: green;
}

.center {
    background: red;
    text-align: center;
    line-height: 400px;
    color:#fafafa;
}